@model PaginatedList<Brand>
@{
    ViewData["Title"] = "Index";
    int order = (Model.PageIndex - 1) * 2;
}


<div class="row justify-content-center">
    <div class="col-md-10">
        <h1>Brands</h1>
        <a class="btn btn-primary" asp-action="create">Create</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    order++;
                    <tr>
                        <td>@order</td>
                        <td>@item.Name</td>
                      
                        <td><img height="50px" width="50px" src="~/uploads/brands/@item.ImageUrl" /></td>

                        <td>

                            <a class="btn btn-danger delete-btn" asp-action="delete" asp-route-id="@item.Id">Delete</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.HasPrevious?"":"disabled")">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <li class="page-item @(i==Model.PageIndex?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

                }
                <li class="page-item @(Model.HasNext?"":"disabled")">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)">Next</a>

                </li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}


