@model Order
@{
    ViewData["Title"] = "Detail";
}
<div class="col-md-4">
    <h1>Detail</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">FullName: @Model.FullName</h5>
                <h5 class="card-title">Email: @Model.Email</h5>
                <h5 class="card-title">Country: @Model.Country</h5>
                <h5 class="card-title">Address: @Model.Address</h5>
                <h5 class="card-title">Note: @Model.Text</h5>
                <h5 class="card-title">Date: @Model.CreateAt.ToString("dd-MM-yyyy HH:mm")</h5>

            </div>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.OrderItems)
                {
                    <li class="list-group-item">@item.Plant.Name - @item.Count X @item.UnitPrice.ToString("0.00")</li>
                }
                <li class="list-group-item">Total: @Model.OrderItems.Sum(x=>x.Count*x.UnitPrice).ToString("0.00")</li>
            </ul>
            @if (Model.OrderStatus == Pronia.Enums.OrderStatus.Pending)
            {
                <div class="card-body">
                    <a asp-action="accept" asp-route-id="@Model.Id" class="btn btn-success">Accept</a>
                    <a asp-action="reject" asp-route-id="@Model.Id" class="btn btn-danger">Reject</a>
                </div>
            }
            else
            {
                <button class="btn btn-@(Model.OrderStatus==Pronia.Enums.OrderStatus.Rejected?"danger":"success")">@Model.OrderStatus.ToString()</button>
            }

        </div>
    </div>
</div>